@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display uppercase tracking-tight;
  }
}

.text-outline {
  -webkit-text-stroke: 1px rgba(15, 23, 42, 0.2);
  color: transparent;
}